.App {
  text-align: center;
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: #25cbc6 !important;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #566ff5 !important;
}
